# shellcheck shell=sh disable=SC2034
# Used to set environment variables at the systemd service level
# These variables are then passed as operands to predefined global podman options

# Sets podman --log-level (default is warn)
PODMAN_LOG_LEVEL=warn
